* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PixelOperator";
  src: url("game/assets/font/pixel_operator/pixelOperator.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PixelOperator", monospace;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.749);
}

#canvas {
  background-color: aliceblue;
  box-shadow: -0.5px -0.5px 3px 3px aliceblue;
}
